<header>
    <!-- Navbar -->
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!--container wrapper-->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CSL</a>
            <!--toggle button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--toggle button-->
            <!--navbar-collapse-->
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/"> Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="/about"> Sobre </a></li>
                    <li class="nav-item"><a class="nav-link" href="/product"> Produtos </a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link">Contato</a></li>
                </ul>
            </div>
            <!--navbar-collapse-->

        </div>
        <!--/Container wrapper-->
    </nav>
    <!--/Navbar-->
</header>